@inherits LayoutComponentBase

<RadzenStack style="height: 100%" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center"  JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.Wrap">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
            <RadzenText class="rz-pl-3 rz-pt-1" TextStyle="TextStyle.Body2" Style="color: white; font-size:20pt">Holder Demo</RadzenText>
            <RadzenButton class="rz-mr-3" Icon="aspect_ratio" Variant="Variant.Flat" Size="ButtonSize.Large" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody class="rz-mx-0">
        <div class="rz-py-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        
    </RadzenFooter>
</RadzenStack>
